Repository pku-typst/pkuthss-typst: changes, and which pre-commit hooks are due for each by the changed paths.
All: typstyle, taplo, update-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=500"]

  - repo: local
    hooks:
      - id: typstyle
        name: typstyle
        entry: typstyle -i
        language: system
        types: [file]
        files: \.typ$

      - id: taplo
        name: taplo
        entry: taplo fmt
        language: system
        types: [toml]

      - id: update-docs
        name: Update README from template
        entry: python3 scripts/update_docs.py
        language: system
        pass_filenames: false
        files: ^(problems/.*/problem\.toml|README\.md\.template|docs/index\.html\.template)$

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.7.4
    hooks:
      - id: prettier

fix: global format
  .pre-commit-config.yaml
  changelog.typ
  lib/components.typ
  lib/config.typ
  lib/pages.typ
  lib/styles.typ
  template.typ
  thesis.typ
Due: typstyle

docs: rewrite
  AGENTS.md
  changelog.typ
  doc/acknowledgements.typ
  doc/cabstract.typ
  doc/eabstract.typ
  lib/components.typ
  lib/config.typ
  lib/pages.typ
  lib/styles.typ
  template.typ
  thesis.typ
Due: typstyle

chore: configure CI
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  README.md
  build/thesis.pdf
  changelog.typ
  images/1-writing-app.png
  images/cover.png
  lib/pages.typ
  template.typ
  thesis.typ
Due: typstyle

fix: code quality
  Justfile
  changelog.typ
  lib/components.typ
  lib/config.typ
  lib/styles.typ
  lib/utils.typ
Due: typstyle

fix: minor issues
  lib/components.typ
  lib/styles.typ
  lib/utils.typ
  thesis.typ
Due: typstyle

fix: minor coderabbit issues
  lib/styles.typ
Due: typstyle

docs: update changelog
  changelog.typ
  lib/pages.typ
  lib/styles.typ
Due: typstyle

fix: bib style
  changelog.typ
  lib/styles.typ
  template.typ
  thesis.typ
Due: typstyle

chore: use pdfcpu to optimize artifacts
  .github/workflows/ci.yml
Due: none

fix: CI
  .github/workflows/ci.yml
  lib/pages.typ
  template.typ
  thesis.typ
Due: typstyle

fix: minor coderabbit issues
  .github/workflows/ci.yml
  lib/config.typ
  thesis.typ
Due: typstyle

feat: prepare for Typst Universe
  template/main.typ
  template/ref.bib
  thesis.typ
  typst.toml
Due: typstyle, taplo

fix: minor issue in declaration
  lib/pages.typ
Due: typstyle

A complete rewrite of the whole package (#26)
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  AGENTS.md
  Justfile
  README.md
  build/thesis.pdf
  changelog.typ
  contributors.typ
  doc/acknowledgements.typ
  doc/cabstract.typ
  doc/eabstract.typ
  images/1-writing-app.png
  images/cover.png
  lib/components.typ
  lib/config.typ
  lib/pages.typ
  lib/styles.typ
  lib/utils.typ
  pkulogo.svg
  pkuword.svg
  ref.bib
  template.typ
  template/main.typ
  template/ref.bib
  thesis.typ
  typst.toml
Due: typstyle, taplo

fix: multiple improvements
  AGENTS.md
  changelog.typ
  lib/components.typ
  lib/config.typ
  lib/pages.typ
  lib/styles.typ
  lib/utils.typ
  template.typ
  thesis.typ
Due: typstyle

fix: use itemize to center markers
  lib/styles.typ
  template.typ
Due: typstyle

fix: remove debug texts
  thesis.typ
Due: typstyle

refactor: separate thesis.typ
  doc/appendix-about.typ
  doc/ch01-quickstart.typ
  doc/ch02-config.typ
  doc/ch03-basics.typ
  doc/ch04-faq.typ
  doc/ch05-advanced.typ
  lib/styles.typ
  thesis.typ
Due: typstyle

docs: update
  doc/ch02-config.typ
Due: typstyle

fix: outline customization & format fix (#27)
  AGENTS.md
  changelog.typ
  doc/appendix-about.typ
  doc/ch01-quickstart.typ
  doc/ch02-config.typ
  doc/ch03-basics.typ
  doc/ch04-faq.typ
  doc/ch05-advanced.typ
  lib/components.typ
  lib/config.typ
  lib/pages.typ
  lib/styles.typ
  lib/utils.typ
  template.typ
  thesis.typ
Due: typstyle

fix: add Arial fonts for CI
  fonts/Arial Bold.ttf
  fonts/Arial.ttf
Due: none

feat: update package information
  README.md
  changelog.typ
  doc/cabstract.typ
  doc/ch01-quickstart.typ
  doc/eabstract.typ
  lib/pages.typ
  thesis.typ
Due: typstyle

feat: use native Chinese numbering
  changelog.typ
  lib/utils.typ
Due: typstyle

docs: update to v0.1.1
  README.md
  doc/ch01-quickstart.typ
  template/main.typ
  typst.toml
Due: typstyle, taplo

feat: integrate gb7714-bilingual
  AGENTS.md
  README.md
  changelog.typ
  doc/ch01-quickstart.typ
  doc/ch02-config.typ
  doc/ch03-basics.typ
  ref.bib
  template.typ
  template/main.typ
  thesis.typ
  typst.toml
Due: typstyle, taplo

fix: update template
  template.typ
  template/main.typ
Due: typstyle

fix: need to pass bibcontent directly
  AGENTS.md
  changelog.typ
  doc/ch02-config.typ
  doc/ch03-basics.typ
  template.typ
  template/main.typ
  thesis.typ
Due: typstyle

fix: upgrade gb7714-bilingual to v0.2.1
  README.md
  changelog.typ
  doc/ch01-quickstart.typ
  template.typ
  template/main.typ
  typst.toml
Due: typstyle, taplo

fix: upgrade gb7714-bilingual to v0.2.1 (#36)
  README.md
  changelog.typ
  doc/ch01-quickstart.typ
  template.typ
  template/main.typ
  typst.toml
Due: typstyle, taplo

fix: booktab reference (fix #37)
  changelog.typ
  doc/ch03-basics.typ
  lib/components.typ
  lib/utils.typ
  typst.toml
Due: typstyle, taplo

fix: booktab reference (fix #37) (#38)
  changelog.typ
  doc/ch03-basics.typ
  lib/components.typ
  lib/utils.typ
  typst.toml
Due: typstyle, taplo

chore: update version numbers
  README.md
  doc/ch01-quickstart.typ
  template.typ
  template/main.typ
Due: typstyle

chore: update version numbers (#39)
  README.md
  doc/ch01-quickstart.typ
  template/main.typ
Due: typstyle
